<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8"/>
	<title>Zwierze</title>
</head>
<body>
<div style="background: #cccc44; padding: 20px;" >
	<h1>Schronisko Reksio i Klakier</h1>
</div>
<div class="row" style="padding: 20px">
	<div class="col-sm-1">
		<h6><a th:href="@{/}" th:text="'Powrót do listy'"></a>
		<a th:href="@{/animal/{category}/{id}/edit(id=${animal.id}, category=${animal.category})}" th:text="${'Edytuj zwierzaka'}"> </a></h6>
	</div>
</div>


<h2 th:text="${animal.name}"/>

<p th:text="${animal.description}"></p>

</body>
</html>