<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div style="background: #cccc44; padding: 20px;">
	<h1>Schronisko Reksio i Klakier</h1>
</div>
<div style="padding: 20px">
<a th:href="@{/animal/addAnimal}">Dodaj zwierzaka</a>
	<a th:href="@{/category/addCategory}">Dodaj kategorię</a>
</div>
<div class="row" style="padding: 20px">
	<div class="col-sm-1">
		Kategorie:
	</div>
	<div class="col-sm-1">
		<a th:href="@{/}" th:text="${'Wszystkie'}"> Wszystkie</a>
	</div>
	<div class="col-sm-1" th:each="category: ${categories}">
		<a th:href="@{/animal/{category}(category=${category})}" th:text="${category}"> Wszystkie</a>
	</div>
</div>

<div style="padding: 20px" th:with="currentUrl=(${#httpServletRequest.requestURI})">
	<a th:href="@{${currentUrl}(sort=alph)}">Sortuj po nazwie</a>
</div>
<div style="padding: 20px">
	<h3 th:text="${chosenCategory + ' szukające domu'}"/>
</div>

<p th:each="animal: ${animals}">
	<div class="container">
		<div class="row">
			<div class="col-sm-1">
				<a th:href="@{/animal/{category}/{id}(id=${animal.id}, category=${animal.category})}"><img th:src="${animal.imageUrl}" height="60" width="60"/></a>
			</div>
			<div class="col-sm">
				<h5><a th:href="@{/animal/{category}/{id}(id=${animal.id}, category=${animal.category})}" th:text="${animal.name}"></a></h5>
				<div class="row">
					<div class="col-sm-3">
						<a th:href="@{/animal/{category}/{id}(id=${animal.id}, category=${animal.category})}"><p th:text="${#strings.abbreviate(animal.description,99)}"/></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</p>

</body>
</html>